docker {
    enabled = false
}

trace {
    enabled = true
    file = 'reports/trace.txt'
}

report {
    enabled = true
    file = 'reports/report.html'
}

process {
    echo = true            
    scratch = false                
    maxRetries = 3                 
    errorStrategy = 'retry'        
}
