docker {
    enabled = false
}

trace {
    enabled = true
    file = 'reports/trace.txt'
    overwrite = true
}

report {
    enabled = true
    file = 'reports/report.html'
    overwrite = true
}

process {
    withName: get_genomic_data {
  container = 'gffread-ncbi:latest'
    }

    withName: Trimming {
        container = 'nf-cutadapt'
    }

    withName: Mapping_refgenome {
        container = 'nf-bowtie'
    }

    withName: Mapping_replicate {
        container = 'nf-bowtie'
    }

    withName: Count {
        container = 'nf-subread'
    }

    echo = true            
    scratch = false                
    maxRetries = 3                 
    errorStrategy = 'retry'  

    withName: fetch_data {
        cpus = 1
        memory = '1.5 GB'
	    container = 'nf-sratoolkit'

    }      
}
