docker {
    enabled = false
}

trace {
    enabled = true
    file = 'reports/trace.txt'
    overwrite = true
}

report {
    enabled = true
    file = 'reports/report.html'
    overwrite = true
}

process {
    withName: get_genomic_data {
	container = 'tibiscuit14/reprohackaton2025@sha256:139e09e4c9a42e181762cb5cc166b2322a73c2923d821ea029c4ff61b7233e11'
    }

    withName: Trimming {
        container = 'tibiscuit14/reprohackaton2025:nf-cutadapt@sha256:fa01305723ac8b4ed78cd89feff48acc39dc2c40c35a55952dfaec91cf48cebe'
    }

    withName: Mapping_refgenome {
        container = 'tibiscuit14/reprohackaton2025:nf-bowtie@sha256:de12b9a87ae30583f429c7050863ac38395183ea41b7a53e8ce6168f778ad267'
    }

    withName: Mapping_replicate {
        container = 'tibiscuit14/reprohackaton2025:nf-bowtie@sha256:de12b9a87ae30583f429c7050863ac38395183ea41b7a53e8ce6168f778ad267'
    }

    withName: Count {
        container = 'tibiscuit14/reprohackaton2025:nf-subread@sha256:25a01f8420a51eed6e76da0bda8a079c8b8175667596190169abde1fbb0a37dc'
    }

    echo = true            
    scratch = false                
    maxRetries = 3                 
    errorStrategy = 'retry'  

    withName: fetch_data {
        cpus = 1
        memory = '1.5 GB'
	    container = 'tibiscuit14/reprohackaton2025:nf-sratoolkit@sha256:c02401a1a46c78786e6b71e7b95924d27c33c684e2f7922ade345cbc98d7b614'

    }      
}
