docker {
    enabled = false
}

trace {
    enabled = true
    file = 'reports/trace.txt'
}

report {
    enabled = true
    file = 'reports/report.html'
}

process {
process {
    withName: Trimming {
        container = 'nf-cutadapt'
    }

    withName: Mapping_refgenome {
        container = 'nf-bowtie'
    }

    withName: Mapping_replicate {
        container = 'nf-samtools'
    }

    withName: Count {
        container = 'nf-subread'
    }

    withName: R_plot {
        container = 'nf-r-deseq'
    }

    withName: fetch_data {
        container = 'nf-sratoolkit'
    }

    echo = true            
    scratch = false                
    maxRetries = 3                 
    errorStrategy = 'retry'        
}
