docker {
    enabled = false
}

trace {
    enabled = true
    file = 'reports/trace.txt'
overwrite = true
}

report {
    enabled = true
    file = 'reports/report.html'
overwrite = true
}

process {
	cpus = 1
        memory = '1.5 GB'
	container = 'tibiscuit14/reprohackaton2025:nf-r-deseq-recent'

}
